.app {
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 95vh;
    background-color: #f8f9fd;
    overflow: auto;
    text-align: left;
    
  }
  
    input[type="text"],
    input[type="password"] {
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 0px 25px 0px #c0ffc9;
    
  }
  
    button[type="submit"] {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #93cdb1;
    border: 1px solid #93cdb1;
    color: white;
    padding: 10px 20px;
    width: 300px;
    height: 50px;
    border-radius: 10px;
  }
  
    button[type="submit"]:hover {
    background:green;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    
  }
  
  .login-form {
    background-color: white;
    padding: 5rem;
    padding-top: 10px;
    padding-bottom: 50px;
    text-align: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 40px;
  }
  
  .list-container 
  {
    display: flex;
     
  }
  .title 
  {
    font-size: 30px;
    line-height: 45px;
    margin-bottom: 20px;
    text-align: left;
    padding-left: 5px;
    font-family: poppins;
  }
  
  .input-container 
  {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 10px;
    width: 300px;
    align-items: left;
    padding-top: 20px;
    height: 50px;
    position: relative;
  }
  
.profile 
{
  width: 239px;
  height: 239px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
/* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;

} 

.name
{
  color: green;
  border-radius: 10px;
  padding-left: 15px;
  font-family: poppins;
  font-size: 16px;
}
.VisibilityOffIcon
{
  color: #93cdb1;
  position: absolute;
  margin-left: 250px;
  padding: 10px;
  cursor: pointer;
  display: flex;
}
.VisibilityIcon
{
  color: #93cdb1;
  position: absolute;
  margin-left: 250px;
  padding: 10px;
  cursor: pointer;
  display: flex;
}
